.container {
  position: relative;
}

.container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;

  background-color: rgba(
    0,
    0,
    0,
    0.7
  ); 
  z-index: 0; 
}

.image-container {
  background-image: url("https://i.ibb.co/gDgJLyM/inner3.jpg");
  background-size: cover;
  background-position: top center;
}

.text-content {
  position: absolute;
  text-align: center;
  left: 50%;
  z-index: 1; 
  color: white; 
}